<h1><% if current_user %>
        <%= current_user.username %>'s Snacks Index View
    <% else %>
        Generic Snack Index
    <% end %>
</h1>

<h2>
    <% if current_user %>
             All the Snacks for <%= current_user.username %>
        <% else %>
            All the snacks
        <% end %>
   </h2>

<ul>
    <% @snacks.each do |snack| %>
        <li><%= link_to snack.name, snack_path(snack) %> </li>
    <% end %>
</ul>