<!DOCTYPE html>
<html>
<head>
    <title>My fancy app</title>
</head>
<body>

    <h1>Hello World</h1>
    <div>Hi I am a brand new web app using <i>Shotgun</i></div>

    <div>The number after three is: <%= 2 + 2 %></div>

    <% [2, 3, 4, 5].each do |num| %>
        <%= num + 100 %>
    <% end %>

</body>
</html>