<!DOCTYPE html>
<html>
<head>
    <title>Make A New Book</title>
</head>
<body>

    <form action="/books" method="POST">
        <label for="author">Author</label>
        <input type="text" name="author">
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="snippet">Snippet</label>
        <input type="text" name="snippet">
        <input type="submit" value="Create book">

    </form>
</body>
</html>