<!DOCTYPE html>
<html>
<head>
    <title>Make a new Author</title>
</head>
<body>

    <form action="/authors" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">

        <% 3.times do %>
            <div>
                <input type="text" name="book[][title]" placeholder="Title">
                <input type="text" name="book[][snippet]" placeholder="Snippet">
            </div>
        <% end %>



        <input type="submit">
    </form>

</body>
</html>