<!DOCTYPE html>
<html>
<head>
    <title>All the books</title>
</head>
<body>

    <ul>
        <% @books.each do |book| %>
            <li>
                <a href="/books/<%= book.id %>">
                    <%= book.title %>
                </a>
            </li>
        <% end %>
    </ul>

<div id="anchor_point">Anchor Here!</div>
</body>
</html>